#color{
    text-align: center;
}

#result{
    /* border-right: 5px; */
    padding: 0 10px;
    width: 430px;
}

#original{
    /* border-right: 5px; */
    padding: 0 20px;
    width: 430px;
    -left: 20px;
}